.question-container {
  background: rgba(255, 255, 255, 0.1);
  padding: 2rem;
  border-radius: 20px;
  margin: 1rem auto;
  max-width: 600px;
}

.question-container h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.options-list {
  list-style: none;
  padding: 0;
}

.options-list li {
  margin: 0.5rem 0;
}

.options-list button {
  width: 80%;
  background-color: #673ab7;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 0.8rem;
  font-size: 1rem;
  transition: transform 0.2s ease-in-out;
}

.options-list button:hover:not(:disabled) {
  transform: scale(1.05);
}

button.selected {
  background-color: #2196f3; 
  color: white;
  font-weight: bold;
}


.options-list button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}


.options-list button:disabled:hover {
  transform: none;
}

button:focus {
  outline: none;
  box-shadow: 0 0 5px #4caf50;
}

