:root {
  font-family: 'Poppins', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #fff;

  background-image: url('./assets/fondo.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  background-blend-mode: overlay;
  background-color: rgba(0, 0, 0, 0.6); 

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h1, h2, h3, h4 {
  margin: 1rem 0;
}

button {
  border: none;
  padding: 0.8em 1.5em;
  font-size: 1.1em;
  font-weight: bold;
  font-family: inherit;
  background-color: #673ab7;
  color: #ffffff;
  cursor: pointer;
  transition: transform 0.2s, background-color 0.3s;
}

button:hover {
  transform: scale(1.1);
  background-color: #5d08f0;
}

button:focus,
button:focus-visible {
  outline: 4px auto #fff;
}

a {
  font-weight: 500;
  color: #ff0000;
  text-decoration: none;
}
a:hover {
  color: #ffeb3b;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background: linear-gradient(135deg, #ff9a9e, #fad0c4);
  }
  button {
    background-color: #4caf50;
    color: #fff;
  }
  button:hover {
    background-color: #66bb6a;
  }
}

